html, body {
    height: 100%;
}

div#grid {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: 100%;
    height: 100%;
}

div#board {
    grid-column: 1;
    border-right: solid 1px;
}

div#dice {
    grid-column: 2;
}

img#board {
    height: 100%;
    width: auto;
}

#canvas {
    border: 1px;
    min-height: 100px;
    width: 100%;
    height: 100%;
}

.center_field {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.center_field * {
    position: relative;
    font-family: Trebuchet MS;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 15px;
}

.center_field br {
    background-color: rgba(0, 0, 0, 0);
}

.bottom_field {
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: inherit;
    padding: 0px;
}

#label {
    font-size: 32pt;
    word-spacing: 0.5em;
    padding: 5px 15px;
    color: rgba(21, 26, 26, 0.6);
    top: 45%;
}

#labelhelp {
    font-size: 12pt;
    padding: 5px 15px;
    color: rgba(21, 26, 26, 0.5);
    bottom: 50px;
}

#set {
    text-align: center;
    font-size: 26pt;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0);
    top: 60%;
}

#sethelp {
    font-size: 12pt;
    color: rgba(21, 26, 26, 0.5);
    background: none;
    top: 25%;
}

.dice_place {
    position: absolute;
    border: solid black 1px;
}
